# Generated directories
project/
logs/
flakes
server/code-coverage
.log/
target/
node_modules
tailwind.css

.secrets
bundle.js
.dockerlogs
*.pem
*.pyc

# Terraform files
*.terraform
*.terraform.lock.hcl
*.tfvars
/cloud/deploys/dev_azure/civiform_config.sh
/cloud/deploys/dev_aws/civiform_config.sh
*_override.tf
!*example.auto.tfvars
terraform.tfstate**
.terraform.tfstate**

# SBT Files
sbt_cache/*
!sbt_cache/.keep
/browser-test/sbt_cache/*
!/browser-test/sbt_cache/.keep
test-support/sbt_cache/
!/test-support/sbt_cache/.keep
.classpath
.project
.data
.metals/
.bloop/
.ammonite/
metals.sbt

# IDE Files
.vscode
pom.xml
pom.bkp
.idea/
*.swp
RUNNING_PID
.bsp/
.DS_Store
